<h2 mat-dialog-title class="dialog-title">
  {{ data.title }}
</h2>

<mat-dialog-content class="dialog-content">
  <app-tabla-estandar
    id="contratacion-reporte-previa-archivos"
    [titulo]="data.title"
    modulo="Contratación"
    vacio="No hay archivos cargados."
    [datos]="data.items"
    [columnas]="columnas">

    <ng-template tablaCelda="status" let-element>
      @if (element.valid) {
        <span class="status-chip success">
          <mat-icon class="tiny-icon">check_circle</mat-icon> OK
        </span>
      } @else {
        <span class="status-chip error" [title]="element.error">
          <mat-icon class="tiny-icon">error</mat-icon> Error
        </span>
        @if (element.error) {
          <div class="error-text-mobile">{{ element.error }}</div>
        }
      }
    </ng-template>
  </app-tabla-estandar>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cerrar</button>
</mat-dialog-actions>