@if (mostrarTitulo) {
  <h3 class="sft-titulo">{{ tableTitle }}</h3>
}

<app-tabla-estandar
  [id]="idTabla"
  [titulo]="tableTitle"
  [datos]="datosVista"
  [columnas]="columnas"
  [cargando]="isLoading"
  [filasPorPagina]="porPagina"
  [totalServidor]="serverSide ? (totalCount ?? datosVista.length) : null"
  [detalle]="enableRowClick"
  [seleccion]="enableSelection ? selection : null"
  (filaClick)="onFila($event)"
  (paginaCambio)="onPagina($event)"
  (busquedaCambio)="searchChange.emit($event)"
  (ordenCambio)="onOrden($event)">

  @if (hayColumnaAcciones && actionsTemplate) {
    <ng-template tablaAcciones let-fila>
      <ng-container [ngTemplateOutlet]="actionsTemplate" [ngTemplateOutletContext]="{ $implicit: fila }" />
    </ng-template>
  }

  @for (p of plantillas; track p.columna) {
    <ng-template [tablaCelda]="p.columna" let-fila>
      <ng-container [ngTemplateOutlet]="p.tpl" [ngTemplateOutletContext]="{ $implicit: fila, col: p.def }" />
    </ng-template>
  }

  @for (c of columnas; track c.id) {
    @if (c.id.startsWith('PDF_')) {
      <ng-template [tablaCelda]="c.id" let-fila>
        @if (fila[c.id]) {
          <a class="sft-link" [href]="fila[c.id]" target="_blank" rel="noopener" title="Abrir PDF">
            <mat-icon fontSet="material-symbols-outlined">visibility</mat-icon>
          </a>
        }
      </ng-template>
    }
  }

  @for (c of columnasConEncabezado; track c.name) {
    <ng-template [tablaEncabezado]="c.name">
      <ng-container [ngTemplateOutlet]="headerActionTemplate!" [ngTemplateOutletContext]="{ $implicit: c }" />
    </ng-template>
  }
</app-tabla-estandar>
