<mat-card>
  <mat-card-content>
    <div class="tabla">
      <h1 class="title">Tabla de Traslados</h1>

      <app-tabla-estandar
        id="home-traslados-finalizados"
        titulo="Traslados"
        modulo="Home"
        entidad="traslados"
        busqueda="Filtrar"
        vacio="No hay traslados."
        [datos]="traslados()"
        [columnas]="columnasTraslados"
        [cargando]="cargando()">

        <div tablaAccionesBarra>
          @if (descargarExcel) {
            <img src="icons/cards/excel.png" alt="Exportar a excel" class="exportar" (click)="obtenerTrasladosYGenerarExcel()"
              />
          }
        </div>

        <ng-template tablaCelda="cedulas" let-element>
          @if (element.cedula_disponible === 1) {
            <a (click)="imprimirCedula(element.numero_cedula)" style="cursor: pointer; text-decoration: underline;">
              Ver Cédula
            </a>
          } @else {
            <span>No disponible</span>
          }
        </ng-template>

        <ng-template tablaCelda="solicitud_traslado" let-element>
          @if (element.solicitud_disponible === 1) {
            <a (click)="imprimirSolicitudTraslado(element.codigo_traslado)"
              style="cursor: pointer; text-decoration: underline;">
              Ver Solicitud
            </a>
          } @else {
            <span>No disponible</span>
          }
        </ng-template>
      </app-tabla-estandar>
    </div>
  </mat-card-content>
</mat-card>
