<!-- Tabla de Vetados Reportados -->
<mat-card class="premium-card">
  <mat-card-header class="card-header-premium">
    <div class="header-content">
      <div class="header-icon-container">
        <mat-icon class="header-icon">block</mat-icon>
      </div>
      <div class="header-text">
        <mat-card-title class="titulo">Gestión de Vetados 901</mat-card-title>
        <mat-card-subtitle class="subtitulo">Listado y administración de reportes 901.</mat-card-subtitle>
      </div>
    </div>
    <span class="grow"></span>

    <button mat-icon-button class="btn-managerial-icon" style="z-index: 1;" [matMenuTriggerFor]="menu901"
      matTooltip="Acciones" aria-label="Abrir acciones">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="card-content">
    <div class="tabla">

      <mat-menu #menu901="matMenu">
        <button mat-menu-item (click)="triggerUpload901()">
          <mat-icon>upload</mat-icon>
          <span>Cargar 901</span>
        </button>
      </mat-menu>

      <!-- input oculto para Excel -->
      <input #file901 type="file" accept=".xlsx,.xls,.csv" (change)="onFileSelected901($event)" hidden>
      <app-tabla-estandar
        id="contratacion-vetados-reportados"
        titulo="Vetados reportados"
        modulo="Contratación"
        vacio="No hay datos."
        [datos]="reportados()"
        [columnas]="columnasReportados">

        <ng-template tablaAcciones let-element>
          <button mat-icon-button (click)="verDetalle(element)" matTooltip="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="eliminar(element)" matTooltip="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </app-tabla-estandar>
    </div>
    <!-- Tabla de Todos los Vetados Excepto el ID -->
    <div class="tabla">
      <h1 class="title">901 revisados</h1>
      <app-tabla-estandar
        id="contratacion-vetados-revisados"
        titulo="901 revisados"
        modulo="Contratación"
        vacio="No hay datos."
        [datos]="revisados()"
        [columnas]="columnasRevisados">
      </app-tabla-estandar>
    </div>

  </mat-card-content>
</mat-card>